.header {
  width: 60%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px lightgrey solid;
}

.sort-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px lightgray solid;
  width: 60%;
}

.nav {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.title-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
  width: 35%;
  padding-bottom: .2rem;
}

.sort-button{
  background-color: white;
  border: none;
}