.header {
  width: 60%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px black solid;
}

.sort-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px lightgray solid;
  width: 60%;
}

h1{
  margin: 0px;
  margin-bottom: .4rem;
}

.sort-button{
  background-color: white;
  border: none;
}