.header {
  width: 60%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px black solid;
}

.sort-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px lightgray solid;
  width: 60%;
}

.nav {
  text-decoration: none;
  color: inherit;
}

.title-image {
  width: 60%;
}

.sort-button{
  background-color: white;
  border: none;
}