.home-display{
  height: 100rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5rem;
}

.hero-preview-container {
  display: flex;
  flex-direction: row;
  
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-bottom: 1px lightgray solid;
}

.small-preview-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 1rem;
}

.large-preview-container {
  display: flex;
  flex-direction: column;

}

